*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.container{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}
.navbar-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  3rem;
    width: auto;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 0 10px 11px -10px rgba(0, 0, 0, 18%);
    
}
a{
    color: black;
    text-decoration: none;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
}
.navbar ul select{
    width: 20px;
    background: none;
    border: none;
}
.navbar ul li{
    margin: 10px;
    line-height: normal;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
}
.search-jobs{
    display: flex;
    align-items: center;

}
.search-jobs a {
    color: #ff2b85;
    font-weight: 500;
}
.search-jobs a #icon{
    font-size: large;
    font-weight: bolder;
}
.search-btn-body{
    background-color: #FFB2BB;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
.language-btn-body{
    position: absolute;
    right: 0;
    height: 50px;
    overflow: hidden;
    transition: all 2s ease;
    border-radius: 1px 1px 5px 5px;
    
}
.language-btn-body:hover{
    height: auto;
}
.language-btn{
    background-color: #ff2b85;
    padding: 10px 20px;
    border-radius: 2px 2px 5px 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
    font-weight: 500;
    position: relative;
    padding-right: 50px;
}
.hr{
    background-color: white;
    position: absolute;
    width: 75%;
    height: 1px;
    opacity: 0;
    transform: all .4s ease;
}
.language-btn:hover .hr{
    opacity: 1;
}
.down{
    transition: all .4s ease;
    font-size: x-large;
    /* padding-left: 5px; */
    /* transform-origin: center; */
}
.language-btn:hover .down{
    transform: rotate(180deg);
}
.site-switcher-en{
    display: flex;
    align-items: center;
}
.site-switcher-ch{
    opacity: 0;
}
.language-btn:hover .site-switcher-ch{
    opacity: 1;
}
.site-switcher-ch a{
    color: white;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.language-btn:hover .site-switcher-ch a{
    opacity: 1;
}
.site-switcher-ch a:hover{
    font-weight: bolder;
}
.search-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    border: 2px solid;
    width: 100%;
}
h2{
    font-size: 3rem;
    width: 100%;
}
.search-btn-body .img{
    width: 40rem;
    height: 36.6rem;
    border: 2px solid;
    background-position: center;
    background-size:contain;

    background-repeat: no-repeat;
    background-image: url("https://attraxcdnprod1-freshed3dgayb7c3.z01.azurefd.net/1481181/0f1cd41f-b5a4-4fa7-b963-a5706b26c90b/0.0.0/img/2Nn1Y5_G9EZl9Qjb1WHOsg/");
}